<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>org.library.view.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>org.library.view.AddLibrarianForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/AddLibrarianForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>three</servlet-name>
    <servlet-class>org.library.view.AddLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>three</servlet-name>
    <url-pattern>/AddLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>four</servlet-name>
    <servlet-class>org.library.view.ViewLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>four</servlet-name>
    <url-pattern>/ViewLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>five</servlet-name>
    <servlet-class>org.library.view.DeleteLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>five</servlet-name>
    <url-pattern>/DeleteLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>six</servlet-name>
    <servlet-class>org.library.view.EditLibrarianForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>six</servlet-name>
    <url-pattern>/EditLibrarianForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seven</servlet-name>
    <servlet-class>org.library.view.EditLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seven</servlet-name>
    <url-pattern>/EditLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eight</servlet-name>
    <servlet-class>org.library.view.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eight</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nine</servlet-name>
    <servlet-class>org.library.view.LibrarianLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nine</servlet-name>
    <url-pattern>/LibrarianLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ten</servlet-name>
    <servlet-class>org.library.view.AddBookForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ten</servlet-name>
    <url-pattern>/AddBookForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eleven</servlet-name>
    <servlet-class>org.library.view.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eleven</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>twelve</servlet-name>
    <servlet-class>org.library.view.ViewBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twelve</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thirteen</servlet-name>
    <servlet-class>org.library.view.DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thirteen</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourteen</servlet-name>
    <servlet-class>org.library.view.IssueBookForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourteen</servlet-name>
    <url-pattern>/IssueBookForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fifteen</servlet-name>
    <servlet-class>org.library.view.IssueBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fifteen</servlet-name>
    <url-pattern>/IssueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sixteen</servlet-name>
    <servlet-class>org.library.view.ViewIssuedBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sixteen</servlet-name>
    <url-pattern>/ViewIssuedBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seventeen</servlet-name>
    <servlet-class>org.library.view.ReturnBookForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seventeen</servlet-name>
    <url-pattern>/ReturnBookForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eighteen</servlet-name>
    <servlet-class>org.library.view.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eighteen</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nineteen</servlet-name>
    <servlet-class>org.library.view.LogoutLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nineteen</servlet-name>
    <url-pattern>/LogoutLibrarian</url-pattern>
  </servlet-mapping>
</web-app>